body {
    background-color: rgb(67, 67, 226);
}

nav {
    display: flex; /* alinea horizo */
    background-color: rgb(9, 22, 134);
    padding: 10px 20px;
    border-radius: 10px;
}

nav a {
    color: rgb(201, 201, 201);
    text-decoration:none;
    padding: 10px;
    cursor:copy;
}
h2{
    background-color: rgb(18, 15, 230);
    text-align: center;
    margin: 20px;
    border-radius: 8px;
    padding: 10px;

}