body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    justify-content: center;
}
.first{
    height: 4rem;
    width: 10rem;
    font-size: 20px;
    border-radius: 4rem;
    border-color: brown;
}
p{
    display: flex;
    height: 10rem;
    width: 40rem;
    font-size: 2rem;
    font-style: italic;
}