.card{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border-radius: 40px;
    background-color: blanchedalmond;
    margin: 20px;
}

.edit{
    margin-left: 100px;
    width: 100px;
    height: 40px;
    background-color: brown;
    border-radius: 10px;
    font-size: 20px;
}
.dark{
    background-color: rgb(0, 0, 0);
}
.nombre{
    color: rgb(252, 173, 76);
    font-size: 45px;
}