<section>
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam exercitationem deserunt sint! Debitis temporibus dolor doloribus veritatis magni alias est aut. Omnis aspernatur enim consectetur tempore rerum sint a vitae.</p>
    <article>
        <div>
            <h3>Crear ususarios</h3>

            <label>Nombre</label>
            <input id="inputName" name="nombre" placeholder="Ingrese su nombre"/>

            <label>Correo</label>
            <input type="email" id="inputEmail" name="email" placeholder="Ingrese su correo"/>

            <label>Edad</label>
            <input id="inputAge" name="age" placeholder="Ingrese su edad"/>

            <label>Ciudad</label>
            <input id="inputCity" name="city" placeholder="Ingrese su ciudad"/>

            <button id="btnCreateUser">Crear ususario</button>
        </div>
    </article>
    <article>
        <h3>Usuarios Creados: </h3>

        <ul id="newUsers" class="newUsers">
            <!-- Los usuarios creados se cargan aquí -->
        </ul>
    </article>
</section>