<section class="login">
    <h2>Iniciar Sesión</h2>
    <article>
        <div>
            <label>Usuario:</label>
            <input id="userInput" placeholder="Ingrese usuario" required>
            <label>Contraseña:</label>
            <input id="passInput" type="password" placeholder="Ingrese contraseña" required>
            <button id="buttonLogin" >Ingreso</button>
        </div>
    </article>
    <p>¿No tienes cuenta? <button onclick="navigate('/regist')">Regístrate aquí</button></p>
</section>