<section class="regist">
    <h2>Registrase</h2>
    <form id="registerForm">
        <article>
            <label>Usuario:</label>
            <input id="regName" type="text" placeholder="Nombre de usuario" required>
        </article>
        <article>
            <label>email:</label>
            <input type="email" id="regEmail" placeholder="tucorreo.com" required>
        </article>
        <article>
            <label>contraseña:</label>
            <input type="password" id="regPassword" placeholder="minimo 4 caracteres" required>
        </article>
        <article>
            <label>confirma la contrasena:</label>
            <input type="password" id="regPasswordConfirm" placeholder="confirma contrasena" required>
        </article>
        <button type="submit">Registrarse</button>
    </form>
</section>