<section>
    <h2>Iniciar Sesión</h2>
    <article>
        <div>
            <label>Usuario:</label>
            <input id="userInput" placeholder="Ingrese usuario" required>
            <label style="display:block;margin-top:10px;">Contraseña:</label>
            <input id="passInput" type="password" placeholder="Ingrese contraseña" required>
            <button id="buttonLogin" style="margin-top:15px;padding:8px 15px;cursor:pointer;">Ingreso</button>
        </div>
    </article>
    <p>¿No tienes cuenta? <button onclick="navigate('/regist')">Regístrate aquí</button></p>
</section>