* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    gap: 1rem;
}
/* Base styles: Mobile (por defecto) */
body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.card{ /* mododifica las condiciones generales del header */
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 154.49px;
    height: 24px;
}
.user{
    height: 40px;
    width: 182px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.log{
    color: #4CAF4F;
    flex-grow: 1;
    height: 40px;
    border: none;
    background-color: white;
}
.sig{
    background-color: #4CAF4F;
    flex-grow: 1;
    height: 40px;
    border-radius: 6px;
    border-color: #4CAF4F;
    color: white;
}
.navbar{
    height: 24px;
    padding: 1rem 2rem 4rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items:center;
}
.text{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}
.desktop{
    height: 15rem;
    width: 15rem;
}

/* Small tablets (600px y más) */
@media (min-width: 37.5em) {  /* 600px / 16 = 37.5em */
    body {
        font-size: 17px;
    }
}

/* Tablets (768px y más) */
@media (min-width: 48em) {  /* 768px / 16 = 48em */
    body {
        font-size: 18px;
    }
}

/* Desktop (1024px y más) */
@media (min-width: 64em) {  /* 1024px / 16 = 64em */
    body {
        font-size: 19px;
        padding: 100px;
        display: flex;
        justify-content: center;
    }
    .card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: ;

        /* height: 60px;
        display: flex;
        flex-direction: row;
        justify-content:center;
        justify-content: space-around; */
    }
    .user{
        height: 40px;
        width: 182px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .log{
        color: #4CAF4F;
        flex-grow: 1;
        height: 40px;
        border: none;
        background-color: white;
    }
    .sig{
        background-color: #4CAF4F;
        flex-grow: 1;
        height: 40px;
        border-radius: 6px;
        border-color: #4CAF4F;
        color: white;
    }
    .navbar{
        height: 24px;
        width: 588px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sectionFirst{
        height: 599px;
        display: flex;
        flex-direction: column;
    }
    .section__info{
        width: 657px;
        height: 276px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .section__specific{
        width: 657px;
        height: 192px;
    }
    .section__special{
        color:#4CAF4F ;
    }
    .desktop{
        height: 15rem;
        width: 15rem;
    }
    .section__button{
        width: 128px;
        height: 52px;
        background-color: #4CAF4F;
        border-radius: 4px;
        border-color: #4CAF4F;
        color: #ffff;
    }
}