body {
    background-color: rgb(67, 67, 226);
    padding: 100px 100px;
}

.ppal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}

.caracter {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.habilities {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.contact {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template: 30% / 70%;
}

/* h2{
    background-color: rgb(18, 15, 230);
    text-align: center;
    margin: 20px;
    border-radius: 8px;
    padding: 10px;

} */