<section>
    <h2 class="title-home">Bienvenido</h2>
    <h3>Aplicacion web para tus tareas.</h3>

    <p>Con esta aplicación web con interesante diseño e implementación
        usted puede organizar ordenar y revisar constantemente sus tareas diarias</p>
    <h3 id="name"></h3>
    <h3 id="pass"></h3>
    <article>
        <p>
            Ve a la pestaña de tareas encontraras un lugar donde organizar tus tareas pendientes
            y podras controlarlas con mas facilidad.
        </p>
    </article>
</section>