<section>
    <h2 class="title-home">Home</h2>
    <h3>El usuario es:</h3>
    <h3 id="name"></h3>
    <h3 id="pass"></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, minus numquam enim debitis pariatur minima placeat neque! Saepe quaerat ab eligendi quisquam obcaecati id eveniet sunt, incidunt esse, veritatis aliquid.</p>
    <article>
        <div>
            <div>parte izq</div>
            <div>parte derecha</div>
        </div>
        <button id="logout">Cerrar Sesión</button>
    </article>
</section>