<section>
    <h2>Home</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, minus numquam enim debitis pariatur minima placeat neque! Saepe quaerat ab eligendi quisquam obcaecati id eveniet sunt, incidunt esse, veritatis aliquid.</p>
    <article>
        <div>
            <h3>Login</h3>
            <label>Usuario</label>
            <input id="userInput" placeholder="Ingrese usuario">
            <label>Contraseña:</label>
            <input id="passInput" type="password" placeholder="Ingrese contraseña">
            <button id="buttonLogin">Ingreso</button>
        </div>
    </article>
</section>