/*estilos para la vista inicial  */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    background: #09b04e;
    background: radial-gradient(circle, rgba(9, 176, 78, 1) 50%, rgba(247, 223, 0, 1) 100%);
    height: 4rem;
    width: 95%;
    border-radius: 1rem;
}

a {
  text-decoration: none;
  color:rgb(22, 22, 190)
}